/GenerarNuevoToken.class
/AddCaracterToken.class
/VerificarRangoEntero.class
/VerificarRangoDouble.class
/VerificarIdentificador.class
/VerificarComparador.class
/ComienzoComentario.class
/FinComentario.class
/VerificarCadenaCaracteres.class
